* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
} 

html {
  font-size: 16px;
}

body {
  background-image: url('/img/post-it.jpg');
  background-size: cover;
  background-attachment: fixed;
}


header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} 

h1 {
  color: #152b3c;
  font-family: 'Protest Strike', sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
}

#adicionar-tarefa {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: 50px;
}

#botao-nova-tarefa {
 width: 100px;
 font-family: 'Quicksand', sans-serif;
 font-size: 18px;
 color: #152b3c;
 background-color: #e07767;
 border-radius: 10px;
 margin-left: 10px;
 border-style: none;
 box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

}

.checkbox {
  margin-right: 20px;
  transform: scale(2);
}

.botao-remover {
  font-size: 20px;
  margin-left: 20px;
}

.checkbox-fixo {
  margin-right: 20px;
  transform: scale(2);
}

.botao-remover-fixo {
  font-size: 20px;
  margin-left: 20px;
}

#nova-atividade {
border-radius: 10px;
border-style: none;
padding-left: 10px;
padding-right: 10px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#container-tarefas {
  display: flex;
  justify-content: center;
}

#lista-tarefas {
  display: inline-block;
  overflow-wrap: break-word;
  width: 600px;
  padding-top: 2%;
  margin-bottom: 30px;
}

li {
  font-family: 'Zilla Slab', serif;
  color:#152b3c;
  font-size: 1.5rem;
  list-style: none;
  padding: 3%;
  background: #d4e067;
  margin-top: 2%;
  border-radius: 10px;
   
} 

.icone-lixeira {
  cursor: pointer;
}

.icone-lixeira-fixa {
  cursor: pointer;
}


